html, body {
    background-color: rgb(56, 113, 65);
    background-image: url("../data/images/homepage.jpg");
}

.col-lg-4 #blank {
    visibility: hidden;
}

.col-lg-4#title h1 {
    text-align: center;
    background-color: rgba(67, 135, 78, 0.6);
    border-radius: 10px;
}

.col-lg-4#userBubble h1 {
    text-align: right;
    background-color: rgba(67, 135, 78, 0.6);
    border-radius: 10px;
}

.loginButton button {
    margin: auto;
    text-align: center;
    margin-top: 25%;
    background-color: rgba(71, 172, 163, 0.83);
    border-radius: 10px;
    max-width: 200px;
    font-size: 50px;
    border: none;
    color: black;
    padding: 15px 32px;
    justify-content: center;
    display: flex;
}
.loginButton button:active {
    color: #8b8b8b;
}


