html {
    background-color: rgb(56, 113, 65);
    background-image: url("../data/images/homepage.jpg");
}

h1.pageTitle {
    text-align: center;
}
.TitleBar {
    background-color: rgba(83, 148, 91, 0.62);
    border-radius: 10px;
    margin-top: 10px;
    max-width: 700px;
    margin: auto;
}

.loginButton button {
    margin: auto;
    text-align: center;
    margin-top: 25%;
    background-color: rgba(71, 172, 163, 0.83);
    border-radius: 10px;
    max-width: 200px;
    font-size: 50px;
    border: none;
    color: black;
    padding: 15px 32px;
    justify-content: center;
    display: flex;
}

.loginButton button:active {
    color: #8b8b8b;
}

